<div class = "form-container">
  <div class="row justify-content-center">
    <h1>Stupid Coaching</h1>
    <form action="/answer" data-turbo="false">
      <label for="question" class="form-label">Ask your coach anything:</label>
      <div class = "input-and-button">
        <input type="text" class = "form-control input-space" name = "question" id = "question">
        <input class = "button" type="submit" value="Ask">
      </div>
    </form>
  </div>
</div>
